body::after {
	content: "";
	background-color: rgba(235, 122, 29, 0.6);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	z-index: 150;
}

.popup_show {
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	// border-radius: 20px;
	box-shadow: 0px 0px 40px rgba(131, 0, 0, 0.4);

	.lock & {
		visibility: visible;
	}
}

.popup {

	// .popup__close

	&__close {
		width: 55px;
		height: 55px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	// .popup__close-svg

	&__close-svg {
		width: 28px;
		height: 28px;

		use {
			fill: #EB7A1D;
		}
	}
}

//========================================================================================================================================================

// #region popup-filters

#filters-more {
	padding: 0;
	overflow: hidden;

	.popup__wrapper {
		height: 100%;
	}

	.popup__content {
		max-width: 100%;
		border-radius: 0;
		height: 100%;
		overflow: auto;
		padding: 60px 80px;
		overflow-x: hidden;

		@media (max-width:$tablet) {
			padding: rem(20);
			padding-bottom: rem(50);
		}
	}

	.choice-items-filter {
		flex: 1 1 100%;
		overflow: auto;
	}

	.filters {
		// height: 100%;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		max-width: 1630px;
		gap: 0 20px;

		&__title {
			flex: 1 1 100%;
			display: none;

			@media (max-width:$tablet) {
				display: block;
			}

			@media (max-width:$mobileSmall) {
				font-weight: 600;
				font-size: 17px;
				line-height: 21px;
			}
		}

		&__wrapper {
			flex: 1 1 auto;

			@media (max-width:$tablet) {
				display: block;
			}
		}


		// .filters__col

		&__col {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: 40px;

			@media (max-width:$mobile) {
				gap: 15px;
			}
		}

		&__buttons {
			flex: 0 0 240px;
		}

		&__apply-btn {
			width: 100%;
		}

		&__price {
			@media (min-width:em(550)) {
				width: 250px;

			}
		}

		&__reset-btn {
			@media (max-width:$tablet) {
				display: flex;
			}
		}
	}
}

// #endregion

// #region popups

#empt-basket,
#del-compare,
#share-popup,
#login-popup,
#login-popup-second,
#change-data,
#add-profile {
	.popup__content {
		max-width: 624px;
		padding: 0;
	}

	.popup__close {
		position: static;
	}

	.popup__header {
		border-bottom: 1px solid #CACACA;
		padding: rem(47) rem(52) rem(28) rem(45);
		display: flex;
		justify-content: space-between;

		@media (max-width:$mobile) {
			padding: rem(20);
		}

		@media (max-width:$mobileSmall) {
			align-items: center;
			padding: rem(10) rem(20);
		}
	}

	.popup__title {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;

		@media (max-width:$mobileSmall) {
			font-size: 20px;
			line-height: 22px;
		}
	}

	.popup__main {
		padding: rem(24) rem(60) rem(50);

		@media (max-width:$mobile) {
			padding: 20px;
		}
	}

	.basket_empty {
		margin-top: rem(85);
		margin-bottom: rem(116);

		@media (max-width:$mobile) {
			margin: rem(40) 0;
		}
	}
}

#share-popup .popup__content {
	max-width: 460px;
}

// #endregion

.login {

	// .login__text

	&__text {
		margin-bottom: rem(32);
		// max-width: 340px;
		font-size: 20px;
		line-height: 28px;
	}

	// .login__link

	&__link {
		color: #EB7A1D;
	}

	.form {

		// .form__line

		&__line {
			margin-bottom: rem(44);
		}

		// .form__line-desc

		&__line-desc {
			margin-top: rem(-20);
			margin-bottom: rem(27);
		}

		// .form__label

		&__label {}

		// .form__input

		&__input {}

		// .form__clear-svg

		&__clear-svg {}

		// .form__bottom

		&__bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (max-width:$mobileSmall) {
				flex-direction: column;
			}

			.login__link {
				@media (max-width:$mobileSmall) {
					margin-top: rem(30);
				}
			}
		}

		// .form__btn

		&__btn {
			width: 203px;

			@media (max-width:$mobileSmall) {
				width: 100%;
			}
		}
	}
}

.data-change {

	// .data-change__navigation

	&__navigation {
		background: #F2E6DD;
		border-radius: 31px;
		display: flex;
		padding: rem(4);
		margin-bottom: rem(32);
	}

	// .data-change__title

	&__title {
		flex: 0 1 50%;
		border-radius: 31px;
		font-size: 18px;
		line-height: 26px;
		padding: rem(15) rem(0);
		transition: background 0.3s ease 0s;

		&._tab-active {
			background: #FFFFFF;

		}
	}

	// .data-change__content

	&__content {}

	// .data-change__body

	&__body {

		.form {

			// .form__line

			&__line {
				margin-bottom: rem(30);
			}

			// .form__label

			&__label {}

			// .form__input

			&__input {}

			// .form__clear-svg

			&__clear-svg {}

			// .form__consent

			&__consent {
				font-size: 12px;
				line-height: 18px;
				opacity: 0.5;
				margin-bottom: rem(27);
			}

			// .form__consent-link

			&__consent-link {

				&:link,
				&:visited {
					text-decoration: underline;

					&:hover {

						text-decoration: none;
					}
				}
			}

			// .form__btn

			&__btn {
				width: 100%;
			}
		}

	}
}

// . {

// 	// ._tab-active

// 	&_tab-active {
// 	}
// }