// Заголовки, общие БЄМ блоки и проче...

.btn {
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 0 rem(10);
	transition: all 0.3s ease 0s;
	border-radius: 3px;
	// .btn__transparent

	&__transparent {
		background: transparent;

		// .btn__transparent_white

		&_white {
			color: #fff;
			border: 1px solid #fff;

			&:hover {
				background: #fff;
				color: #000;
			}
		}

		&_black {
			color: #000;
			border: 1px solid #000;

			&:hover {
				background: #000;
				color: #fff;
			}
		}
	}

	// .btn__orange

	&__orange {
		background: #eb7a1d;
		color: #fff;

		// .btn__orange_transparent

		&_white {
			background: #fff;
			border: 1px solid #eb7a1d;
			color: #000;

			&:hover {
				color: #fff;
				background: #d66507;
				border: 1px solid #d66507;
			}
		}

		&:hover {
			background: #d66507;
		}
	}
}

.link-collaboration {
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	background: url(../img/bg-footer-btn.png) no-repeat;
	border-radius: 5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	padding: 0 rem(23);
	height: rem(48);
	white-space: nowrap;
	// display: none;
}

.basket-items-list-item-removed-block {
	margin-top: rem(20);

	a {
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		padding: 0 rem(10);
		transition: all 0.3s ease 0s;
		border-radius: 3px;
		background: #eb7a1d;
		color: #fff;

		&:hover {
			background: #d66507;
		}
	}
}

.product-slider {
	// min-width: 0;

	margin-bottom: rem(100);

	@media (max-width: $mobile) {
		margin-bottom: rem(20);
	}

	&:only-child {
		margin-bottom: rem(0);
	}

	&.last-slider {
		margin-bottom: 0;
	}

	// .product-slider__container

	&__container {}

	// .product-slider__header

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: rem(20);
		flex-wrap: wrap;

		@media (max-width: $tablet) {}

		@media (max-width: $mobileSmall) {
			padding: 0 rem(9);
		}
	}

	// .product-slider__title

	&__title {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin-right: rem(52);
		align-self: flex-end;
		margin-bottom: rem(15);

		&+.product-slider__baners {
			margin-top: rem(54);

			@media (max-width: $mobile) {
				margin-top: rem(33);
			}
		}

		@media (max-width: $tablet) {
			flex: 1 1 100%;
			margin-right: 0;
		}

		@media (max-width: $mobile) {
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
		}
	}

	// .product-slider__baners

	&__baners {
		margin-bottom: rem(35);

		@media (max-width: $mobile) {
			margin-bottom: rem(17);
		}
	}

	// .product-slider__view-all-link

	&__view-all-link {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		align-self: flex-end;
		margin-bottom: rem(15);
		margin-right: rem(15);

		@media (max-width: $tablet) {
			flex: none;
		}

		@media (max-width: $mobile) {}
	}

	// .product-slider__view-all-span

	&__view-all-span {
		font-size: 20px;
		line-height: 28px;
		margin-right: rem(13);
	}

	// .product-slider__view-all-svg

	&__view-all-svg {
		width: 24px;
		height: 24px;

		use {
			fill: #eb7a1d;
		}
	}

	// .product-slider__nav-btns

	&__nav-btns {
		display: flex;
	}

	// .product-slider__swiper-button

	&__swiper-button {
		background: #ffffff;
		border: 1px solid #cacaca;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;

		&:hover {
			background: #f1f2f4;
			transform: scale(1.05);
		}

		&.swiper-button-prev {
			width: 60px;
			height: 60px;
		}

		&.swiper-button-next {
			width: 102px;
			height: 60px;

			@media (max-width: $tablet) {
				width: 60px;
			}
		}
	}

	// .product-slider__button-svg

	&__button-svg {
		width: 22px;
		height: 14px;

		use {
			fill: #eb7a1d;
		}
	}

	// .product-slider__slider

	&__slider {
		min-width: 0;
		// transition: all 0.3s ease 0s;

		&:hover {}

		&.swiper {
			overflow: visible;
		}
	}

	// .product-slider__wrapper

	&__wrapper {}

	// .product-slider__slide

	&__slide {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;

		>[id*="bx_"] {
			height: 100%;
		}

		&.swiper-slide-visible {
			opacity: 1;
			visibility: visible;
		}
	}
}

.page {
	// .page__title

	&__title {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: rem(40);

		@media (max-width: $tablet) {
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
			margin-bottom: rem(20);
		}
	}
}

.product-card {
	background: #fff;
	position: relative;
	transition: all 0.3s ease 0s;
	padding: rem(10) rem(14);
	display: flex;
	flex-direction: column;

	.product-slider__slide & {
		height: 100%;
	}

	&::before {
		box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.09);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: all 0.3s ease 0s;
	}

	@media (min-width: $mobile) {
		&:hover {
			z-index: 5;

			&::before {
				content: "";
			}

			.product-card__footer {
				opacity: 1;
				visibility: visible;
			}

			.product-card__btn-favorites {
				opacity: 1;
			}
		}
	}

	// .product-card__link

	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .product-card__image-ibg

	&__image-ibg {
		display: block;
		padding-bottom: 83%;
		margin-bottom: rem(12);
	}

	// .product-card__info

	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .product-card__name

	&__name {
		line-height: 24px;
		margin-bottom: rem(12);
		flex: 1 1 auto;
		overflow-wrap: anywhere;
	}

	// .product-card__tags

	&__tags {
		position: absolute;
		bottom: calc(100% + 12px);
		left: 0;
	}

	// .product-card__prices

	&__prices {
		display: flex;
		align-items: flex-end;
		margin-bottom: rem(12);
		flex-wrap: wrap;
		row-gap: 7px;
		column-gap: 17px;
	}

	// .product-card__price

	&__price {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
	}

	// .product-card__old-price

	&__old-price {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.496476);
		text-decoration: line-through;
	}

	// .product-card__stock

	&__stock {
		margin-bottom: rem(12);
	}

	// .product-card__footer

	&__footer {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		transition: all 0.3s ease 0s;
		transform: translate(0px, 100%);
		background: #fff;
		padding: rem(0) rem(14) rem(10) rem(14);
		box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.09);

		@media (max-width: $mobile) {
			position: static;
			opacity: 1;
			visibility: visible;
			box-shadow: none;
			transform: translate(0px, 0px);
			padding: 0;
		}
	}

	// .product-card__footer-top

	&__footer-top {
		margin-bottom: rem(12);
	}

	// .product-card__btn-basket

	&__btn-basket {
		width: 100%;
	}

	// .product-card__footer-bottom

	&__footer-bottom {
		// display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;

		.favorites__cards & {
			display: flex;
		}
	}

	// .product-card__btn-favorites
	// .product-card__btn-compare

	&__btn-favorites,
	&__btn-compare {
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		display: flex;
		align-items: center;
		height: 34px;
		background: transparent;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				.product-card__btn-svg {
					use {
						fill: #2fa827;
					}
				}

				.product-card__btn-span {
					background: rgba(61, 74, 98, 0.06);
				}
			}
		}
	}

	// .product-card__btn-favorites

	&__btn-favorites {
		font-size: 0;
		position: absolute;
		top: 10px;
		right: 10px;

		@media (min-width: $mobile) {
			opacity: 0;
			transition: opacity 0.3s ease 0s;
		}

		.product-card__btn-span {
			padding: 0;
		}

		&::before {
			content: "";
			width: 30px;
			height: 27px;
			// margin-right: rem(4);
			transition: all 0.3s ease 0s;
			background-image: url(@img/icons/add-favorites.svg);
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				&::before {
					background-image: url(@img/icons/add-favorites_full.svg);
				}
			}
		}

		&._delete {
			&::before {
				background-image: url(@img/icons/add-favorites_full.svg);
			}

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					&::before {
						background-image: url(@img/icons/add-favorites.svg);
					}
				}
			}
		}
	}

	// .product-card__btn-svg

	&__btn-svg {
		width: 18px;
		height: 18px;
		margin-right: rem(4);

		use {
			transition: all 0.3s ease 0s;
			fill: #eb7a1d;
		}
	}

	// .product-card__btn-span

	&__btn-span {
		padding: rem(5);
		border-radius: 5px;
		transition: all 0.3s ease 0s;
	}

	// .product-card__btn-compare

	&__btn-compare {
		display: none;

		&::before {
			content: "";
			display: block;
			width: 29px;
			height: 26px;
			margin-right: rem(4);
			transition: all 0.3s ease 0s;
			background-image: url(@img/icons/add-compare.svg);
			background-repeat: no-repeat;
		}

		&:hover {
			&::before {
				background-image: url(@img/icons/add-compare_full.svg);
			}
		}

		&._delete {
			&::before {
				background-image: url(@img/icons/add-compare_full.svg);
			}

			&:hover {
				&::before {
					background-image: url(@img/icons/add-compare.svg);
				}
			}
		}
	}
}

.tag {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	// .tag__item

	&__item {
		color: #fff;
		display: inline-block;
		padding: rem(2) rem(11);
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		border-radius: 3px;

		&:not(:last-child) {
			margin-bottom: rem(4);
		}

		// .tag__item_blue

		&_blue {
			background: #0091ff;
		}

		// .tag__item_orange

		&_orange {
			background: #eb7a1d;
		}

		// .tag__item_purple

		&_purple {
			background: #b620e0;
		}
	}
}

.in-stock {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	padding-left: rem(28);
	background: url(@img/icons/in-stock.svg) no-repeat;
}

.out-of-stock {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	padding-left: rem(28);
	background: url(@img/icons/out-of-stock.svg) no-repeat;
}

.baners {
	flex: 1 1 100%;
	// .baners__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: 14px;

		@media (max-width: $mobile) {
			justify-content: center;
			gap: 6px;
		}
	}

	// .baners__item

	&__item {
		flex: 0 1 calc(33.333% - 10px);

		@media (max-width: $mobile) {
			flex: 0 1 calc(50% - 10px);
		}

		@media (max-width: $mobileSmall) {
			flex: 1 1 100%;
		}

		&:only-child {
			flex: 1 1 100%;
		}

		img {
			transition: all 0.3s ease 0s;
			width: 100%;
			object-fit: contain;
		}

		&:hover {
			img {
				transform: scale(1.02);
			}
		}
	}
}

.showmore {
	// .showmore__content

	&__content {}

	// .showmore__button

	&__button {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #eb7a1d;
		margin-top: rem(15);
	}
}

.btn-add {
	position: relative;
	width: 30px;
	height: 27px;

	img {
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease 0s;

		&:last-child {
			opacity: 0;
		}

		&:only-child {
			opacity: 1;
		}
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			img {
				&:first-child {
					opacity: 0;
				}

				&:last-child {
					opacity: 1;
				}
			}
		}

	}

	&._active {
		img {
			&:first-child {
				opacity: 0;
			}

			&:last-child {
				opacity: 1;
			}
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				img {
					&:first-child {
						opacity: 1;
					}

					&:last-child {
						opacity: 0;
					}
				}
			}
		}
	}
}

.float-line {
	--underline-width: 0;
	--underline-offset-x: 0;
	--color-underline: #eb7a1d;
	--underline-height: 0;
	--underline-offset-y: 0;

	position: relative;
	display: inline-flex;
	padding: 0;

	&::before {
		content: "";
		display: block;
		position: absolute;
		// top: 85%;
		bottom: 0;
		height: 8px;
		width: var(--underline-width);
		transform: translateX(var(--underline-offset-x));
		background-color: var(--color-underline);
		transition: all 0.5s;
	}

	// .float-line__horizontal

	&__horizontal {
		&::before {
			width: 8px;
			height: var(--underline-height);
			transform: translateY(var(--underline-offset-y));
			bottom: auto;
			top: 0;
			right: 0;
		}

		.float-line__item {
			border-right: 8px solid transparent;
			border-bottom: none;


			&._active,
			&._tab-active {
				&::before {
					width: 8px;
					height: 100%;
					bottom: 0;
					right: -8px;
					left: auto;
				}
			}
		}
	}


	// .float-line__item

	&__item {
		cursor: pointer;
		display: block;
		position: relative;
		border-bottom: 8px solid transparent;

		&._active,
		&._tab-active {
			&::before {
				content: "";
				display: block;
				position: absolute;
				bottom: -8px;
				left: 0;
				height: 8px;
				width: 100%;
				background-color: var(--color-underline);
				transition: transform 0.5s, width 0.5s;
			}
		}
	}
}

.fancybox__container {
	max-width: 100%;
}

.alert-popup {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: rem(20);
	z-index: 60;

	// .alert-popup__close

	&__close {
		cursor: pointer;

		.popup {

			// .popup__close-svg

			&__close-svg {}
		}
	}

	// .alert-popup__content

	&__content {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 20px;
	}

	// .alert-popup__text

	&__text {
		// font-size: 18px;
		// line-height: 24px;

		p {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}

		a {
			color: #eb7a1d;

			&:hover {
				color: #d66507;
				text-decoration: underline;
			}
		}
	}
}

.action-notification {
	position: fixed;
	top: -150px;
	left: 0;
	right: 0;
	background: #000;
	color: #fff;
	z-index: 500;
	width: 300px;
	margin: 0 auto;
	border-radius: 10px;
	padding: rem(10);
	text-align: center;
	transition: all 0.3s ease 0s;

	&.show {
		top: 100px;
	}
}

.download-btn {
	width: 42px;
	height: 42px;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;

	svg {
		width: 14px;
		height: 18px;

		use {
			transition: all 0.3s ease 0s;
			fill: #797979;
		}
	}

	&:hover {
		background: #CDCDCD;

		svg {
			use {
				fill: #fff;
			}
		}
	}
}