.merchant-cabinet {

   .tabs {

      // .tabs__navigation

      &__navigation {
         position: relative;
         width: 100%;
         margin-bottom: rem(40);
         // overflow: auto;

         &::after {
            position: absolute;
            content: '';
            left: -50%;
            bottom: 0;
            background: #C0B9B4;
            height: 2px;
            width: 200%;
         }
      }


      // .tabs__navigation-inner

      &__navigation-inner {
         overflow: auto;
         width: 100%;
      }

      // .tabs__title

      &__title {
         padding: 0 rem(40);
         padding-bottom: rem(19);
         white-space: nowrap;

         &._tab-active {}
      }

      // .tabs__content

      &__content {}

      // .tabs__body

      &__body {}
   }

   .personal-data {
      display: block;
      // .personal-data__content

      &__content {}

      // .personal-data__row

      &__row {
         @media (max-width: em(480)) {
            justify-content: flex-start;
            align-items: flex-start;
         }
      }

      // .personal-data__name

      &__name {}

      // .personal-data__change

      &__change {
         margin: rem(0) rem(16) rem(0) rem(0);
      }

      // .personal-data__change-svg

      &__change-svg {}

      // .personal-data__text

      &__text {
         @media (max-width: em(480)) {
            align-items: normal;
         }
      }

      // .personal-data__change-block

      &__change-block {}

      // .personal-data__input

      &__input {}

      // .personal-data__btn

      &__btn {
         padding: 0;
         margin: 0;
         margin-right: 16px;
      }

      // .personal-data__btn-svg

      &__btn-svg {}

      // .personal-data__row-msg

      &__row-msg {}

      // .personal-data__log-out

      &__log-out {
         margin: 0;
         max-width: 200px;
      }
   }

   .form {

      // .form__line

      &__line {}

      // .form__input

      &__input {}
   }
}

//========================================================================================================================================================
// заказы

.merchant-cabinet {



   // .merchant-cabinet__chart-wrapper

   &__chart-wrapper {
      background: #FBF9F6;
      padding: rem(26) 0;
      margin-bottom: rem(40);

      @media (max-width:$mobile) {
         margin: 0px rem(-30);
         margin-bottom: rem(40);
      }

      @media (max-width:$mobileSmall) {
         margin: 0px rem(-10);
         margin-bottom: rem(40);
      }
   }

   // .merchant-cabinet__chart-header

   &__chart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(45);

      @media (max-width:$mobile) {
         padding: 0 rem(20);
         flex-direction: column;
         align-items: stretch;
         gap: 20px;
      }
   }

   // .merchant-cabinet__chart-left

   &__chart-left {
      display: flex;
      gap: 14px;
      align-items: center;

      @media (max-width:$mobile) {
         flex-direction: column;
         align-items: stretch;
      }
   }

   // .merchant-cabinet__title

   &__title {}

   // .merchant-cabinet__select

   &__select {}

   // .merchant-cabinet__time-zone

   &__time-zone {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
   }

   // .merchant-cabinet__chart

   &__chart {
      height: 260px;
   }

   .js-time-zone {}

   // .merchant-cabinet__orders

   &__orders {}

   // .merchant-cabinet__head

   &__head {
      padding-left: rem(30);
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: rem(30);

      @media (max-width:$mobile) {
         flex-direction: column;
         align-items: stretch;
         padding-left: 0;
      }
   }

   // .merchant-cabinet__title

   &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
   }

   // .merchant-cabinet__select

   &__select {
      min-width: 222px;

      .merchant-cabinet__create-block & {
         min-width: 0;
      }

      .select__title {
         background: #FFFFFF;
         border: 1px solid rgba(0, 0, 0, 0.230742);
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
         border-radius: 5px;
         font-size: 18px;
         line-height: 22px;
      }

      .select__value {
         flex-direction: row-reverse;
         padding: rem(16);

         .merchant-cabinet__create-block & {
            padding: rem(12);
         }
      }
   }

   // .merchant-cabinet__table

   &__table {
      margin-bottom: rem(90);
      overflow: auto;

      @media (max-width:$mobile) {
         .merchant-cabinet__inner & {
            margin: 0;
            margin-bottom: rem(60);
         }

         margin: 0px rem(-30);
         margin-bottom: rem(60);
      }

      @media (max-width:$mobileSmall) {
         .merchant-cabinet__inner & {
            margin: 0;
            margin-bottom: rem(25);
         }

         margin: 0px rem(-10);
         margin-bottom: rem(25);
      }
   }

   // .merchant-cabinet__headline

   &__headline {
      min-width: min-content;
      display: grid;
      align-items: center;
      gap: 10px;
      padding: rem(23);
      border-bottom: 1px solid #8a8a8a;

      .merchant-cabinet__orders & {
         grid-template-columns: minmax(170px, 200px) minmax(100px, 130px) minmax(350px, 1fr) minmax(75px, 130px) minmax(100px, 150px) 110px;
      }
   }

   // .merchant-cabinet__col-name

   &__col-name {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
   }

   // .merchant-cabinet__row

   &__row {
      min-width: min-content;
      font-size: 16px;
      line-height: 20px;
      display: grid;
      gap: 10px;
      align-items: center;
      padding: rem(6) rem(23);
      min-height: 66px;

      .merchant-cabinet__orders & {
         grid-template-columns: minmax(170px, 200px) minmax(100px, 130px) minmax(350px, 1fr) minmax(75px, 130px) minmax(100px, 150px) 110px;
      }

      &:nth-child(odd) {
         background: #F6F6F6;
      }
   }

   &__order-status,
   &__article,
   &__name,
   &__count,
   &__price,
   &__date {
      display: flex;
      flex-direction: column;
   }

   // .merchant-cabinet__order-status

   &__order-status {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;

   }

   // .merchant-cabinet__article

   &__article {}

   // .merchant-cabinet__name

   &__name {}

   // .merchant-cabinet__count

   &__count {}

   // .merchant-cabinet__price

   &__price {}

   // .merchant-cabinet__date

   &__date {}
}

//========================================================================================================================================================
// товары

.merchant-cabinet {

   // .merchant-cabinet__products

   &__products {}

   // .merchant-cabinet__products-header

   &__products-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(20);

      @media (max-width:$tablet) {
         flex-direction: column;
         align-items: stretch;
         gap: 20px;
      }
   }

   // .merchant-cabinet__pr-hd-left

   &__pr-hd-left {
      display: flex;
      align-items: center;
      gap: 27px;

      input::-webkit-search-cancel-button {
         opacity: 0 !important;
      }

      @media (max-width:$tablet) {
         .form__line {
            width: 100%;
         }
      }

      @media (max-width:$mobile) {
         flex-direction: column;
         gap: 20px;
      }
   }

   // .merchant-cabinet__orange-btn

   &__orange-btn {
      background: #EB7A1D;
      border-radius: 3px;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
      cursor: pointer;
      padding: 0 rem(25);
      transition: all 0.3s ease 0s;
      border: 1px solid transparent;
      white-space: nowrap;

      svg {
         width: 15px;
         height: 20px;
         flex: 0 0 15px;

         use {
            transition: all 0.3s ease 0s;
            fill: #fff;
         }
      }

      &:hover {
         background: transparent;
         border: 1px solid #EB7A1D;
         color: #EB7A1D;

         svg {
            use {
               fill: #EB7A1D;
            }
         }
      }

   }

   // .merchant-cabinet__green-btn

   &__green-btn {
      background: #2FA827;
      border-radius: 3px;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
      cursor: pointer;
      padding: 0 rem(25);
      transition: all 0.3s ease 0s;
      border: 1px solid transparent;
      white-space: nowrap;

      .merchant-cabinet__create-block & {
         max-width: 1386px;
         margin: 0 auto;
         margin-top: rem(43);
      }

      svg {
         width: 15px;
         height: 20px;
         flex: 0 0 15px;

         use {
            transition: all 0.3s ease 0s;
            fill: #fff;
         }
      }

      &:hover {
         background: transparent;
         border: 1px solid #2FA827;
         color: #2FA827;

         svg {
            use {
               fill: #2FA827;
            }
         }
      }

   }

   // .merchant-cabinet__table

   &__table {
      .merchant-cabinet__products & {
         border-bottom: 1px solid #8a8a8a;
         margin-bottom: rem(20);
      }
   }

   // .merchant-cabinet__headline

   &__headline {
      .merchant-cabinet__products & {
         grid-template-columns: 115px 74px minmax(350px, 1fr) minmax(75px, 130px) minmax(140px, 174px) minmax(65px, 100px) 36px 42px;
      }
   }

   // .merchant-cabinet__col-name

   &__col-name {}

   // .merchant-cabinet__all-checked

   &__all-checked {}

   // .merchant-cabinet__row

   &__row {
      .merchant-cabinet__products & {
         grid-template-columns: 115px 74px minmax(350px, 1fr) minmax(75px, 130px) minmax(140px, 174px) minmax(65px, 100px) 36px 42px;
      }

      &:nth-last-of-type(-n+2) {
         .context-menu__dropdown {
            top: -80px;
         }
      }

      &:last-child {
         .context-menu__dropdown {
            bottom: -0px;
            top: auto;
         }
      }
   }

   // .merchant-cabinet__article

   &__article {}

   // .merchant-cabinet__photo

   &__photo {
      width: 54px;

      img {
         width: 100%;
      }
   }

   // .merchant-cabinet__name

   &__name {}

   // .merchant-cabinet__active

   &__active {}

   // .merchant-cabinet__date

   &__date {}

   // .merchant-cabinet__count

   &__count {}

   // .merchant-cabinet__checkbox

   &__checkbox {}

   // .merchant-cabinet__context-menu

   &__context-menu {}

   // .merchant-cabinet__footer-row

   &__footer-row {
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin-bottom: rem(64);

      @media (max-width:$mobile) {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$mobileSmall) {
         grid-template-columns: 1fr;
      }
   }

   // .merchant-cabinet__btn

   &__btn {
      min-width: 166px;
   }
}

.form {

   // .form__line

   &__line {}

   // .form__label

   &__label {}

   // .form__input

   &__input {}

   // .form__clear-svg

   &__clear-svg {}
}

.checkbox {

   // .checkbox__input

   &__input {}

   // .checkbox__label

   &__label {}

   // .checkbox__text

   &__text {}
}

.context-menu {
   position: relative;
   // .context-menu__btn

   &__btn {
      width: 42px;
      height: 42px;
      border: 1px solid #CDCDCD;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease 0s;

      .context-menu-open & {
         background: #C0B9B4;

         &::before {
            color: #fff;
         }
      }

      &:hover {
         background: #C0B9B4;

         &::before {
            color: #fff;
         }
      }

      &::before {
         transition: all 0.3s ease 0s;
         content: '\22EE';
         color: #797979;
         font-size: 40px;
      }
   }

   // .context-menu__dropdown

   &__dropdown {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      display: none;
      position: absolute;
      width: 240px;
      top: 0;
      right: calc(100% + 3px);
      background: #FFFFFF;
      box-shadow: 0px 15px 32px #9F968F;
      border-radius: 5px;
      flex-direction: column;
      padding: rem(10) 0;
      z-index: 10;

      .context-menu-open & {
         opacity: 1;
         visibility: visible;
         pointer-events: all;
         display: block;
      }
   }

   // .context-menu__link

   &__link {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: rem(13)rem(20);

      @media (any-hover: hover) {
         &:hover {
            background-color: rgb(226, 226, 226);
         }
      }
   }
}

//========================================================================================================================================================
// Финансы

.merchant-cabinet {

   // .merchant-cabinet__finance

   &__finance {}

   // .merchant-cabinet__finance-header

   &__finance-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(18);

      @media (max-width:$tablet) {
         flex-direction: column;
         gap: 20px;
         align-items: stretch;
      }
   }

   // .merchant-cabinet__title

   &__title {}

   // .merchant-cabinet__right

   &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      @media (max-width:$mobile) {
         flex-direction: column;
         align-items: stretch;
         gap: 20px;
      }
   }

   // .merchant-cabinet__select

   &__select {
      .select__options {
         background: #FFFFFF;
         box-shadow: 0px 15px 32px #9F968F;
         border-radius: 5px;
      }

      .select__option {
         padding: rem(17);
         padding-right: rem(28);
      }

      .merchant-cabinet__finance & {
         @media (min-width:$mobileSmall) {
            min-width: 334px;
         }
      }
   }

   // .merchant-cabinet__orange-btn

   &__orange-btn {}

   // .merchant-cabinet__report

   &__report {
      background: #FBF9F6;
      padding: rem(40) rem(45);
      margin-bottom: rem(50);

      @media (max-width:$mobile) {
         padding: rem(20);
      }

      @media (max-width:$mobileSmall) {
         margin: 0px rem(-10);
         margin-bottom: rem(45);
      }

      &+.merchant-cabinet__title {
         margin-bottom: rem(40);

         @media (max-width:$tablet) {
            margin-bottom: rem(30);
         }
      }
   }

   // .merchant-cabinet__report-row

   &__report-row {
      display: grid;
      grid-template-columns: 150px 1fr;
      gap: 114px;

      &:not(:last-child) {
         margin-bottom: rem(25);
      }

      @media (max-width:$mobile) {
         gap: 50px;
      }

      @media (max-width:$mobileSmall) {
         gap: 14px;
         grid-template-columns: 1fr;
      }
   }

   // .merchant-cabinet__report-name

   &__report-name {
      font-size: 16px;
      line-height: 20px;
   }

   // .merchant-cabinet__report-content

   &__report-content {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
   }

   // .merchant-cabinet__wrapper

   &__wrapper {
      display: grid;
      grid-template-columns: 210px 1fr;
      gap: 80px;

      @media (max-width: em(1300)) {
         gap: 45px;
      }

      @media (max-width:$tablet) {
         grid-template-columns: 1fr;
      }
   }

   // .merchant-cabinet__sidebar

   &__sidebar {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #C0B9B4;
      align-self: start;
   }

   // .merchant-cabinet__link

   &__link {
      padding: rem(15) 0;
   }

   // .merchant-cabinet__inner

   &__inner {
      overflow: auto;

      @media (max-width:$mobile) {
         margin: 0px rem(-30);
      }

      @media (max-width:$mobileSmall) {
         margin: 0px rem(-10);
      }
   }

   // .merchant-cabinet__table

   &__table {}

   // .merchant-cabinet__headline

   &__headline {
      .merchant-cabinet__finance & {
         grid-template-columns: 187px minmax(350px, 1fr) minmax(100px, 178px) minmax(65px, 120px) 42px;
      }
   }

   // .merchant-cabinet__col-name

   &__col-name {}

   // .merchant-cabinet__row

   &__row {
      .merchant-cabinet__finance & {
         grid-template-columns: 187px minmax(350px, 1fr) minmax(100px, 178px) minmax(65px, 120px) 42px;
      }
   }

   // .merchant-cabinet__date

   &__date {}

   // .merchant-cabinet__name

   &__name {}

   // .merchant-cabinet__number

   &__number {}

   // .merchant-cabinet__file-type

   &__file-type {}

   // .merchant-cabinet__download

   &__download {}
}

//========================================================================================================================================================
// маркетинг

.merchant-cabinet {

   // .merchant-cabinet__marketing

   &__marketing {}

   // .merchant-cabinet__title

   &__title {
      .merchant-cabinet__marketing & {
         margin-bottom: rem(30);
      }
   }

   // .merchant-cabinet__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
      margin-bottom: rem(68);
   }

   // .merchant-cabinet__create

   &__create {
      padding: rem(15);
      display: flex;
      flex-direction: column;
      gap: 18px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.230742);
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
   }

   // .merchant-cabinet__create-name

   &__create-name {
      font-weight: 600;
      font-size: 17px;
      line-height: 23px;
      flex: 1 1 auto;
   }

   // .merchant-cabinet__create-btn

   &__create-btn {
      line-height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: rem(48);
      background: #eb7a1d10;
      mix-blend-mode: normal;
      border-radius: 3px;
      transition: all 0.3s ease 0s;

      &:hover {
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
   }

   // .merchant-cabinet__stocks

   &__stocks {}

   // .merchant-cabinet__table

   &__table {}

   // .merchant-cabinet__headline

   &__headline {
      .merchant-cabinet__marketing & {
         grid-template-columns: minmax(350px, 1fr) minmax(80px, 140px) 36px 42px;
      }
   }

   // .merchant-cabinet__col-name

   &__col-name {}

   // .merchant-cabinet__all-checked

   &__all-checked {}

   // .merchant-cabinet__row

   &__row {
      .merchant-cabinet__marketing & {
         grid-template-columns: minmax(350px, 1fr) minmax(80px, 140px) 36px 42px;
      }
   }

   // .merchant-cabinet__name

   &__name {}

   // .merchant-cabinet__active

   &__active {}

   // .merchant-cabinet__checkbox

   &__checkbox {}

   // .merchant-cabinet__context-menu

   &__context-menu {}
}

.checkbox {

   // .checkbox__input

   &__input {}

   // .checkbox__label

   &__label {}

   // .checkbox__text

   &__text {}
}

.js-allCheck {}

.context-menu {

   // .context-menu__btn

   &__btn {}

   // .context-menu__dropdown

   &__dropdown {}

   // .context-menu__link

   &__link {}
}

//========================================================================================================================================================

.merchant-cabinet {

   // .merchant-cabinet__create-block

   &__create-block {
      // .form__row

      .form__row {
         margin-top: rem(30);
         display: flex;
         gap: 18px;
         margin-bottom: rem(45);

         .form__line {
            flex: 1 1 auto;
         }

         .merchant-cabinet__select {
            min-width: 100px;
         }
      }


      .form__line,
      .form__row {
         width: 100%;
         max-width: 437px;

         &.merchant-cabinet__line {
            width: 100%;
            max-width: 100%;
         }
      }
   }

   // .merchant-cabinet__title

   &__title {
      .merchant-cabinet__create-block & {
         margin-bottom: rem(30);
      }
   }

   // .merchant-cabinet__products

   &__products {}

   // .merchant-cabinet__table-header

   &__table-header {
      display: flex;
      align-items: center;
      gap: 34px;
      flex-wrap: wrap;

      @media (max-width:$mobile) {
         flex-direction: column;
         gap: 20px;
         align-items: stretch;
      }

      .merchant-cabinet__orange-btn {
         min-width: 213px;
      }
   }

   // .merchant-cabinet__subtitle

   &__subtitle {
      font-weight: 600;
      font-size: 17px;
      line-height: 21px;

      .merchant-cabinet__bottom-row & {
         flex: 1 1 auto;

      }
   }

   // .merchant-cabinet__text

   &__text {
      flex: 1 1 auto;
   }

   // .merchant-cabinet__orange-btn

   &__orange-btn {}

   // .merchant-cabinet__table

   &__table {
      &+.merchant-cabinet__footer-row {
         margin-top: rem(-50);
      }
   }

   // .merchant-cabinet__headline

   &__headline {}

   // .merchant-cabinet__col-name

   &__col-name {}

   // .merchant-cabinet__all-checked

   &__all-checked {}

   // .merchant-cabinet__row

   &__row {}

   // .merchant-cabinet__article

   &__article {}

   // .merchant-cabinet__photo

   &__photo {}

   // .merchant-cabinet__name

   &__name {}

   // .merchant-cabinet__active

   &__active {}

   // .merchant-cabinet__date

   &__date {}

   // .merchant-cabinet__count

   &__count {}

   // .merchant-cabinet__checkbox

   &__checkbox {}

   // .merchant-cabinet__context-menu

   &__context-menu {}

}

.form {

   // .form__line

   &__line {}

   // .form__label

   &__label {}

   // .form__input

   &__input {}

   // .form__clear-svg

   &__clear-svg {}

   // .form__row

   &__row {}
}

.checkbox {

   // .checkbox__input

   &__input {}

   // .checkbox__label

   &__label {}

   // .checkbox__text

   &__text {}
}

.js-allCheck {}

.context-menu {

   // .context-menu__btn

   &__btn {}

   // .context-menu__dropdown

   &__dropdown {}

   // .context-menu__link

   &__link {}
}

.merchant-cabinet {

   // .merchant-cabinet__bottom-row

   &__bottom-row {
      margin-top: rem(43);
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: rem(11);
      align-items: center;

      @media (max-width:$mobile) {
         flex-direction: column;
         align-items: stretch;
         gap: 20px;
      }

      .merchant-cabinet__orange-btn {
         min-width: 213px;
      }
   }

   // .merchant-cabinet__subtitle

   &__subtitle {}

   // .merchant-cabinet__orange-btn

   &__orange-btn {}

   // .merchant-cabinet__line

   &__line {}
}

.form {

   // .form__line

   &__line {}

   // .form__label

   &__label {}

   // .form__input

   &__input {}

   // .form__clear-svg

   &__clear-svg {}
}

.popup {

   // .popup__wrapper

   &__wrapper {}

   // .popup__content

   &__content {}

   // .popup__header

   &__header {}

   // .popup__title

   &__title {}

   // .popup__close

   &__close {}

   // .popup__close-svg

   &__close-svg {}

   // .popup__main

   &__main {}
}

.add-product {

   // .add-product__header

   &__header {
      display: flex;
      gap: 30px;
      align-items: center;
      flex-wrap: wrap;

      @media (max-width:$mobile) {
         flex-direction: column;
         align-items: stretch;
         gap: 20px;
      }

      @media (min-width:$mobile) {
         .form__line {
            min-width: 310px;
         }

         .merchant-cabinet__orange-btn {
            min-width: 151px;
         }
      }
   }
}

.form {

   // .form__line

   &__line {}

   // .form__label

   &__label {}

   // .form__input

   &__input {}

   // .form__clear-svg

   &__clear-svg {}
}

.merchant-cabinet {

   // .merchant-cabinet__orange-btn

   &__orange-btn {}

   // .merchant-cabinet__table

   &__table {

      // .merchant-cabinet__table_add-prod

      &_add-prod {
         .merchant-cabinet__headline {
            grid-template-columns: 110px 74px minmax(350px, 1fr) minmax(65px, 100px) 130px;
         }

         .merchant-cabinet__row {
            grid-template-columns: 110px 74px minmax(350px, 1fr) minmax(65px, 100px) 130px;
         }
      }

      // .merchant-cabinet__table_add-groupe

      &_add-groupe {
         .merchant-cabinet__headline {
            grid-template-columns: minmax(250px, 1fr) 130px;
         }

         .merchant-cabinet__row {
            grid-template-columns: minmax(250px, 1fr) 130px;
         }
      }
   }

   // .merchant-cabinet__headline

   &__headline {}

   // .merchant-cabinet__col-name

   &__col-name {}

   // .merchant-cabinet__row

   &__row {}

   // .merchant-cabinet__article

   &__article {}

   // .merchant-cabinet__photo

   &__photo {}

   // .merchant-cabinet__name

   &__name {}

   // .merchant-cabinet__count

   &__count {}

   // .merchant-cabinet__add-btn

   &__add-btn {}
}