.product {
	margin-bottom: rem(100);

	@media (max-width:$mobile) {
		margin-bottom: rem(50);
	}

	// .product__main

	&__main {
		display: grid;
		grid-template-columns: minmax(auto, 770px) 170px 488px;
		margin-bottom: rem(50);

		@media (max-width: em(1440)) {
			grid-template-columns: minmax(auto, 770px) 40px 488px;
		}

		@media (max-width: em(1200)) {
			grid-template-columns: minmax(auto, 770px) 40px 330px;
		}

		@media (max-width:$tablet) {
			grid-template-columns: 1fr;
			position: relative;
		}
	}

	// .product__sliders

	&__sliders {
		@media (max-width:$tablet) {
			margin-bottom: rem(30);
		}
	}

	// .product__tags

	&__tags {
		margin-left: rem(26);
		margin-right: rem(40);

		@media (min-width:$tablet) {
			position: relative;

		}

		@media (max-width: em(1440)) {
			margin: 0;
		}

		.tag {
			align-items: flex-end;

			@media (max-width: em(1440)) {
				position: absolute;
				top: 0;
				right: 105%;
			}

			@media (max-width:$tablet) {
				right: 0;
			}

			@media (max-width:$mobile) {
				left: -10px;
				right: auto;
				align-items: flex-start;
			}
		}

	}

	// .product__content

	&__content {}

	// .product__name

	&__name {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: rem(9);

		@media (max-width:$mobile) {
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
		}
	}

	// .product__row

	&__row {
		display: flex;
		justify-content: space-between;
		max-width: 430px;
		margin-bottom: rem(30);

		@media (max-width:$tablet) {
			margin-bottom: rem(20);
			max-width: 100%;
		}
	}


	// .product__article

	&__article {
		display: flex;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
	}

	// .product__article-title

	&__article-title {
		margin-right: rem(5);
	}

	// .product__article-value

	&__article-value {}

	// .product__buttons

	&__buttons {
		display: flex;
		flex-wrap: wrap;

		@media (max-width:$mobile) {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	// .product__btn-favorites
	// .product__btn-compare

	&__btn-favorites,
	&__btn-compare {
		margin-right: rem(24);
	}

	// .product__btn-favorites

	&__btn-favorites {}

	// .product__btn-compare

	&__btn-compare {}

	// .product__share

	&__share {
		position: relative;
	}

	// .product__stock

	&__stock {
		margin-bottom: rem(9);
	}

	// .product__prices

	&__prices {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		margin-bottom: rem(30);
	}

	// .product__price

	&__price {
		font-weight: 600;
		font-size: 40px;
		line-height: 49px;
		margin-right: rem(27);
	}

	// .product__old-price

	&__old-price {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		opacity: 0.5;
		margin-right: rem(42);
	}

	// .product__discount

	&__discount {
		background: #2FA827;
		color: #fff;
		border-radius: 3px;
		padding: rem(2) rem(6);
	}

	// .product__bottom

	&__bottom {
		max-width: 429px;
		flex: 1 1 100%;
		margin-bottom: rem(30);

		@media (max-width:$tablet) {
			max-width: 100%;
		}

		@media (max-width:$mobile) {
			margin: 0;
			position: fixed;
			bottom: 55px;
			left: 0;
			right: 0;
			padding: rem(15) rem(20);
			background-color: #fff;
			z-index: 49;
			box-shadow: 0px -10px 20px 10px rgb(0 0 0 / 30%);
		}
	}

	// .product__btn-basket

	&__btn-basket {
		width: 100%;
	}

	// .product__desc

	&__desc {
		margin-bottom: rem(60);

		@media (max-width:$mobile) {
			margin-bottom: rem(30);
		}
	}

	// .product__title

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: rem(40);

		@media (max-width:$mobile) {
			font-size: 22px;
			line-height: 27px;
			margin-bottom: rem(10);
		}
	}

	// .product__spec

	&__spec {}
}

.slider-prod {
	display: grid;
	grid-template-columns: 86px 1fr;
	column-gap: 25px;

	// display: flex;
	@media (max-width:$mobile) {

		grid-template-columns: 1fr;
		grid-template-rows: 1fr 94px;
		gap: 12px;
	}

	// .slider-prod__sidebar

	&__sidebar {
		display: flex;
		flex-direction: column;

		@media (max-width:$mobile) {
			min-width: 0;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	// .slider-prod__nav

	&__nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: rem(25);

		@media (max-width:$mobile) {
			display: none;
		}
	}

	// .slider-prod__nav-btn

	&__nav-btn {
		width: 27px;
		height: 27px;
	}

	// .slider-prod__svg

	&__svg {
		width: 100%;
		height: 100%;
	}

	// .slider-prod__main

	&__main {
		min-width: 0;
	}
}

.mini-prod {

	// .mini-prod__slider

	&__slider {

		@include adaptiveValue("height", 410, 307, 1920, 1280, 1);

		@media (max-width:$mobile) {
			height: auto;
		}

	}

	// .mini-prod__wrapper

	&__wrapper {}

	// .mini-prod__slide

	&__slide {
		position: relative;
		background: #FFFFFF;
		border: 1px solid rgba(61, 74, 98, 0.34263);
		border-radius: 10px;
		width: 86px;
		height: 94px;

		&.video-slide {
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-40%, -50%);
				border-left: 20px solid #EB7A1D;
				border-top: 9.5px solid transparent;
				border-bottom: 9.5px solid transparent;
			}

			&::before {
				content: '';
				position: absolute;
				width: 50px;
				height: 50px;
				background-color: #fff;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.main-prod {

	// .main-prod__slider

	&__slider {
		@media (max-width:$mobile) {
			margin: 0 -10px;
		}
	}

	// .main-prod__wrapper

	&__wrapper {}

	// .main-prod__slide

	&__slide {
		position: relative;

		&.video-slide {

			video {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}


	}

	// .main-prod__image-ibg

	&__image-ibg {
		display: block;
		padding-bottom: 90%;

		// @media (max-width:$mobile) {
		// 	padding-bottom: 20%;
		// }
	}
}


.tag {

	// .tag__item

	&__item {

		// .tag__item_blue

		&_blue {}

		// .tag__item_orange

		&_orange {}

		// .tag__item_purple

		&_purple {}
	}
}

.btn {

	// .btn__orange

	&__orange {}
}

.desc {
	max-width: 1170px;
	@include adaptiveValue("padding-left", 112, 0, 1280, 1000, 1);

	// .desc__content

	&__content {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;

		p {
			margin-bottom: rem(15);
		}
	}

	// .desc__more

	&__more {
		box-shadow: 0px -6px 20px 15px rgb(255 255 255);
		transition: box-shadow 0.3s ease 0s;
		width: 100%;
		text-align: left;
		color: #EB7A1D;

		._showmore-active & {
			box-shadow: 0 0 0px rgba(255, 255, 255, 0);
		}
	}
}

.specifications {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 30px;

	@media (max-width: em(1280)) {
		display: block;
	}


	// .specifications__row

	&__row {
		display: flex;
		padding-bottom: rem(15);

		@media (max-width:$mobileSmall) {
			display: block;
		}
	}

	// .specifications__name

	&__name {
		flex: 0 0 300px;
		margin-right: rem(30);

		@media (max-width:$mobile) {
			flex: 0 0 220px;
			margin-right: rem(10);
		}

	}

	// .specifications__value

	&__value {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
	}
}

.share {

	// .share__social

	&__social {
		margin-bottom: rem(40);
	}

	// .share__copy-url

	&__copy-url {
		.form__line {
			margin-bottom: rem(28);
		}
	}

	// .share__input

	&__input {}

	// .share__button

	&__button {
		width: 100%;
	}
}







//========================================================================================================================================================